In [137]:
import pandas as pd
import numpy as np

# Read in the data
df = pd.read_csv('ovulgaris_df.csv', sep=' ')
df2 = pd.read_csv('ObimSeq_nonsym.csv')

In [142]:
df_seq = pd.read_csv('smlf/Obim_randomised.smlf', sep=' ', header=None)
df_seq.columns = ['id', 'SMLF']

In [144]:
df_seq['id'].nunique()

6104

In [112]:
#for each comma separated element in column SMLF, check if first letter equals last letter, if so, print the row
df_og = pd.read_csv('smlf/O_vulgaris.smlf', sep=' ')
df_og.columns = ['sseqid', 'SMLF']

In [123]:
df

,sseqid,SMLF,Sequence
0,A0A6P7S431,"F2109L,V2105R,D2085S,E2083E,G2081E,C2043S,D201...",MASSPKKKVSFRAGESPRLYKCTFCTKTFNVHGNLIKHTRTHTGER...
1,A0A6P7S4G4,"I3V,Y120C,K178R,Y183C,G299K,T311A,N325L,N325D,...",MTIRTRKMADSMPSDFNEDQDSASGSLPCDLQKGYAIEILCLDGKS...
2,A0A6P7S8P7,"K345E,K345R,I369V",MCPENVDLFSAISLSANTVARRVEHIERNIKSQLKDKASKFVCFSV...
3,A0A6P7SA78,"N345E,N345R,I369V",MCPENVDLFSAISLSANTVARRVEHIERNIKSQLKDKASKFVCFSF...
4,A0A6P7SCX4,"D421G,G420E,G417K,K416R,K416E,I406V,M398L,N396...",MATVDTADDSQKRQGTRVFKKSSPNGQITAYLGKRDFIDHLSHIDP...
...,...,...,...
1388,A0A7E6ETK8,"K1870Q,L1869L,E1719E,H1642V,G1629S,P1619L,D131...",MKGVVYASLRMWRNVAFLVLVMPLLYVSGDYIVSSFQSSKNGSTMN...
1389,A0A7E6ETL0,"Q1870Q,L1869L,E1719E,V1642V,P1629S,L1619L,D131...",MKGVVYASLRMWRNVAFLVLVMPLLYVSGDYIVSSFQSSKNGSTMN...
1390,A0A7E6EV75,"S1870Q,R1869L,Q1719E,N1642V,T1629S,L1619L,D131...",MKGVVYASLRMWRNVAFLVLVMPLLYVSGDYIVSSFQSSKNGSTMN...
1391,A0A7E6F3F8,"R121R,I138V,I138V,M141V,I292V,I343P,I343V,G344...",MYKRSDRVIINVSGLRFETQTRTLSQFPDTLLGNPKKRNRYYDPYR...
1392,H2EZS9,"R150R,I167V,I167V,M170V,I321V,I372P,I372V,G373...",MRDLTIGSLDLKNPDEENNQLDAGSGSLRMYKRSDRVIINVSGLRF...

In [124]:
#if there are repeating rows, remove them

df_drop = df.drop_duplicates(subset=['sseqid'], keep='first')

In [104]:
df_drop

          sseqid                                               SMLF
0     A0A6P7S4G4  I3V,Y120C,K178R,Y183C,G299K,T311A,N325L,N325D,...
1     A0A6P7S8P7                                  K345E,K345R,I369V
2     A0A6P7SA78                                  N345E,N345R,I369V
3     A0A6P7SCX4  D421G,G420E,G417K,K416R,K416E,I406V,M398L,N396...
4     A0A6P7SCY6                                        T308A,Y310L
...          ...                                                ...
1371  A0A6P7SP70  R151R,I168V,I168V,M171V,I322V,I373P,I373V,G374...
1372  A0A6P7TN20  K117R,D168E,R202G,Y203R,R231G,N233D,N233S,A240...
1374  A0A6P7TUX9  V2772G,A2758R,R2754R,Q2746Q,M2741L,V2695R,L267...
1390  A0A7E6F3F8  R121R,I138V,I138V,M141V,I292V,I343P,I343V,G344...
1391      H2EZS9  R150R,I167V,I167V,M170V,I321V,I372P,I372V,G373...

[630 rows x 2 columns]

In [125]:
#replace all semicolons with commas in column SMLF

df_drop['SMLF'] = df_drop['SMLF'].str.replace(';', ',')

/var/folders/lf/s1jn10250m5gyqc358vw8z3c0000gn/T/ipykernel_14279/3949273795.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['SMLF'] = df_drop['SMLF'].str.replace(';', ',')

In [126]:
#for each row, check comma separated elements in column SMLF, if there are duplicates among these elements, remove these duplicates

df_drop['SMLF'] = df_drop['SMLF'].str.split(',')
df_drop['SMLF'] = df_drop['SMLF'].apply(lambda x: list(dict.fromkeys(x)))

/var/folders/lf/s1jn10250m5gyqc358vw8z3c0000gn/T/ipykernel_14279/3844612390.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['SMLF'] = df_drop['SMLF'].str.split(',')
/var/folders/lf/s1jn10250m5gyqc358vw8z3c0000gn/T/ipykernel_14279/3844612390.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['SMLF'] = df_drop['SMLF'].apply(lambda x: list(dict.fromkeys(x)))

In [127]:
#remove brackets from column SMLF

df_drop['SMLF'] = df_drop['SMLF'].str.join(',')

/var/folders/lf/s1jn10250m5gyqc358vw8z3c0000gn/T/ipykernel_14279/3958211910.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['SMLF'] = df_drop['SMLF'].str.join(',')

In [128]:
df_drop

,sseqid,SMLF,Sequence
0,A0A6P7S431,"F2109L,V2105R,D2085S,E2083E,G2081E,C2043S,D201...",MASSPKKKVSFRAGESPRLYKCTFCTKTFNVHGNLIKHTRTHTGER...
1,A0A6P7S4G4,"I3V,Y120C,K178R,Y183C,G299K,T311A,N325L,N325D,...",MTIRTRKMADSMPSDFNEDQDSASGSLPCDLQKGYAIEILCLDGKS...
2,A0A6P7S8P7,"K345E,K345R,I369V",MCPENVDLFSAISLSANTVARRVEHIERNIKSQLKDKASKFVCFSV...
3,A0A6P7SA78,"N345E,N345R,I369V",MCPENVDLFSAISLSANTVARRVEHIERNIKSQLKDKASKFVCFSF...
4,A0A6P7SCX4,"D421G,G420E,G417K,K416R,K416E,I406V,M398L,N396...",MATVDTADDSQKRQGTRVFKKSSPNGQITAYLGKRDFIDHLSHIDP...
...,...,...,...
1372,A0A6P7SP70,"R151R,I168V,M171V,I322V,I373P,I373V,G374M,T414A",MRSFDSEGSLDLKNPDEENNQLDAGSGSLRMYKRSDRVIINVSGLR...
1373,A0A6P7TN20,"K117R,D168E,R202G,Y203R,R231G,N233D,N233S,A240...",METRKMARKVSLLTAGLLLTIIIHLCGLTNAISEPNYNDPVLVKTE...
1375,A0A6P7TUX9,"V2772G,A2758R,R2754R,Q2746Q,M2741L,V2695R,L267...",MAERTSPETQVLTDADILKKFAQKVTTSNRNERIELLKLVKKSAAN...
1391,A0A7E6F3F8,"R121R,I138V,M141V,I292V,I343P,I343V,G344M,T384A",MYKRSDRVIINVSGLRFETQTRTLSQFPDTLLGNPKKRNRYYDPYR...
1392,H2EZS9,"R150R,I167V,M170V,I321V,I372P,I372V,G373M,T413A",MRDLTIGSLDLKNPDEENNQLDAGSGSLRMYKRSDRVIINVSGLRF...

In [129]:
# for each row, calculate the number of editing sites (comma separated elements in a smlf column)
df_drop['num_changes'] = df_drop['SMLF'].apply(lambda x: len(x.split(',')))

/var/folders/lf/s1jn10250m5gyqc358vw8z3c0000gn/T/ipykernel_14279/50336750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['num_changes'] = df_drop['SMLF'].apply(lambda x: len(x.split(',')))

In [110]:
#for each comma separated element in column SMLF, check if first letter equals last letter, if so, remove it

def remove_syn(x):
    x = x.split(',')
    for i in x:
        if i[0] == i[-1]:
            x.remove(i)
    return ','.join(x)

df_drop['SMLF'] = df_drop['SMLF'].apply(remove_syn)

/var/folders/lf/s1jn10250m5gyqc358vw8z3c0000gn/T/ipykernel_14279/2289418404.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['SMLF'] = df_drop['SMLF'].apply(remove_syn)

In [90]:
df_drop['num_changes_nonsyn'] = df_drop['SMLF'].apply(lambda x: len(x.split(',')))

/var/folders/lf/s1jn10250m5gyqc358vw8z3c0000gn/T/ipykernel_14279/2336391222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['num_changes_nonsyn'] = df_drop['SMLF'].apply(lambda x: len(x.split(',')))

In [121]:
df_drop

,sseqid,SMLF,num_changes
0,A0A6P7S4G4,"I3V,Y120C,K178R,Y183C,G299K,T311A,N325L,N325D,...",14
1,A0A6P7S8P7,"K345E,K345R,I369V",3
2,A0A6P7SA78,"N345E,N345R,I369V",3
3,A0A6P7SCX4,"D421G,G420E,G417K,K416R,K416E,I406V,M398L,N396...",19
4,A0A6P7SCY6,"T308A,Y310L",2
...,...,...,...
1371,A0A6P7SP70,"R151R,I168V,M171V,I322V,I373P,I373V,G374M,T414A",8
1372,A0A6P7TN20,"K117R,D168E,R202G,Y203R,R231G,N233D,N233S,A240...",57
1374,A0A6P7TUX9,"V2772G,A2758R,R2754R,Q2746Q,M2741L,V2695R,L267...",51
1390,A0A7E6F3F8,"R121R,I138V,M141V,I292V,I343P,I343V,G344M,T384A",8
1391,H2EZS9,"R150R,I167V,M170V,I321V,I372P,I372V,G373M,T413A",8

In [48]:
df2['num_changes'] = df2['SMLF'].apply(lambda x: len(x.split(',')))

In [133]:
import random

aminoacids = ['A', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'Y']

#for ach row, randomly generate num_changes number of editing sites in format: aminoacid1 position (max is the len of 'Sequence') aminoacid2. 
# Aminoacid1 should be different from aminoacid2. 

def randomise(row):
    num_changes = row['num_changes']
    sequence = row['Sequence']
    smlf = row['SMLF']
    changes = []
    for i in range(num_changes):
        aminoacid1 = random.choice(aminoacids)
        position = random.randint(1, len(sequence)-1)
        aminoacid2 = random.choice(aminoacids)
        #while aminoacid2 == aminoacid1:
        #    aminoacid2 = random.choice(aminoacids)
        changes.append(aminoacid1 + str(position) + aminoacid2)
    return ','.join(changes)

df_drop['randomised'] = df_drop.apply(randomise, axis=1)
#df2['randomised'] = df2.apply(randomise, axis=1)

/var/folders/lf/s1jn10250m5gyqc358vw8z3c0000gn/T/ipykernel_14279/2259840745.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['randomised'] = df_drop.apply(randomise, axis=1)

In [18]:
df.to_csv('ovulgaris_df_randomised.csv', sep=' ', index=False)

In [134]:
df_ovulgaris = df_drop[['sseqid', 'randomised']]

In [93]:
df_ovul_nonsyn = df_drop[['sseqid', 'SMLF']]

In [50]:
df_obim = df2[['sseqid', 'randomised']]

In [135]:
df_ovulgaris

          sseqid                                         randomised
0     A0A6P7S431  G329H,I951K,R1963Y,N251V,T529M,W2498D,H2409L,M...
1     A0A6P7S4G4  E352M,M6T,V410G,C432P,I67P,E256A,E422D,F391W,E...
2     A0A6P7S8P7                                    N33Q,L230S,H56N
3     A0A6P7SA78                                   Q10N,Y287C,A216E
4     A0A6P7SCX4  S68W,K302I,D69Y,T179R,W5V,W362I,G345M,S219A,R1...
...          ...                                                ...
1372  A0A6P7SP70       R382D,L81H,E251E,E8Y,R162P,E292D,K264K,T119M
1373  A0A6P7TN20  K91H,P485N,F138M,H266L,R954E,I583T,W3E,N312K,T...
1375  A0A6P7TUX9  Q2320S,V357D,S1978I,M2070K,F1630K,T2373N,E1026...
1391  A0A7E6F3F8     R132R,N184R,G99P,E112W,A306L,D237Q,K300P,C362Q
1392      H2EZS9       F341D,P99W,V308K,M77T,M258Q,N454R,T46A,P322A

[630 rows x 2 columns]

In [94]:
df_ovul_nonsyn

          sseqid                                               SMLF
0     A0A6P7S431  F2109L,V2105R,D2085S,G2081E,C2043S,D2010S,A183...
1     A0A6P7S4G4  I3V,Y120C,K178R,Y183C,G299K,T311A,N325L,N325D,...
2     A0A6P7S8P7                                  K345E,K345R,I369V
3     A0A6P7SA78                                  N345E,N345R,I369V
4     A0A6P7SCX4  D421G,G420E,G417K,K416R,K416E,I406V,M398L,N396...
...          ...                                                ...
1372  A0A6P7SP70          I168V,M171V,I322V,I373P,I373V,G374M,T414A
1373  A0A6P7TN20  K117R,D168E,R202G,Y203R,R231G,N233D,N233S,A240...
1375  A0A6P7TUX9  V2772G,A2758R,Q2746Q,M2741L,V2695R,S2664R,R263...
1391  A0A7E6F3F8          I138V,M141V,I292V,I343P,I343V,G344M,T384A
1392      H2EZS9          I167V,M170V,I321V,I372P,I372V,G373M,T413A

[630 rows x 2 columns]

In [136]:
df_ovulgaris.to_csv('smlf/Ovulgaris_randomised.smlf', sep=' ', index=False, header=False)

In [52]:
df_obim.to_csv('smlf/Obim_randomised_nonsyn.smlf', sep=' ', index=False, header=False)

In [98]:
df_ovul_nonsyn.to_csv('smlf/Ovulgaris_nonsyn.smlf', sep=' ', index=False, header=False)

In [68]:
df_check = pd.read_csv('smlf/Ovulgaris_nonsyn.smlf', sep=' ', header=None)

In [69]:
df_check.columns = ['sseqid', 'SMLF']

In [70]:
#

          sseqid                                               SMLF
0     A0A6P7S431  F2109L,V2105R,D2085S,G2081E,C2043S,D2010S,A183...
1     A0A6P7S4G4  I3V,Y120C,K178R,Y183C,G299K,T311A,N325L,N325D,...
2     A0A6P7S8P7                                  K345E,K345R,I369V
3     A0A6P7SA78                                  N345E,N345R,I369V
4     A0A6P7SCX4  D421G,G420E,G417K,K416R,K416E,I406V,M398L,N396...
...          ...                                                ...
1388  A0A7E6ETK8  K1870Q,E1719E,H1642V,G1629S,P1619L,D1318R,D131...
1389  A0A7E6ETL0  L1869L,V1642V,P1629S,D1318R,D1316R,K1310R,M130...
1390  A0A7E6EV75  S1870Q,R1869L,Q1719E,N1642V,T1629S,D1318R,D131...
1391  A0A7E6F3F8    I138V,I138V,M141V,I292V,I343P,I343V,G344M,T384A
1392      H2EZS9    I167V,I167V,M170V,I321V,I372P,I372V,G373M,T413A

[1393 rows x 2 columns]